In [1]:
1+2

3

### Exercise 57
To the given list:

    cities = ['Los Angeles', 'New York', 'Chicago']
append the city: 'Houston' and print the list to the console.

Expected result:

    ['Los Angeles', 'New York', 'Chicago', 'Houston']

In [2]:
cities = ['Los Angeles', 'New York', 'Chicago']
cities.append("Houston")
print(cities)

['Los Angeles', 'New York', 'Chicago', 'Houston']

### Exercise 58
The following list is given:

    idx = ['001', '002', '001', '003', '001']

Using the appropriate method count the occurrences of '001'. Print the result to the console as shown below.

In [44]:
idx = ['001', '002', '001', '003', '001']
print(f"Number of occurrences: {idx.count('001')}")

Number of occurrences: 3

### Exercise 59
The following text is given:

    text = 'Python programming'

Standardize the text (replace uppercase letters with lowercase). Then create a list of unique characters in the text. Remove the space from this list and sort from a to z. After all print the list to the console.

Tip: You can use a set to generate unique characters.

Expected result:

    ['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

In [39]:
text = 'Python programming'
lis1 = [elem for elem in [char for char in text.lower() if char != " "]]
print(sorted(set(lis1)))

['a', 'g', 'h', 'i', 'm', 'n', 'o', 'p', 'r', 't', 'y']

### Exercise 60
The following list is given:

    filenames = ['view.jpg', 'bear.jpg', 'ball.png']

Add the file 'phone.jpg' to this list at the beginning. Then delete the file 'ball.png'. In response, print the filenames list to the console.

Expected result:

    ['phone.jpg', 'view.jpg', 'bear.jpg']

In [16]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
filenames.insert(0, 'phone.jpg')
filenames.remove('ball.png')
print(filenames)

['phone.jpg', 'view.jpg', 'bear.jpg']

In [25]:
filenames = ['view.jpg', 'bear.jpg', 'ball.png']
del(filenames[-1])
filenames

['view.jpg', 'bear.jpg']


### Exercise 61
The following list represents order ids for a given day:

    day1 = ['3984', '9042', '4829', '2380']

Using the appropriate method, extend this list to the next day:

    day2 = ['4231', '5234', '1345', '2455']

Print the result to the console.
Expected result:

    ['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

In [13]:
day1 = ['3984', '9042', '4829', '2380']
day2 = ['4231', '5234', '1345', '2455']

day1.extend(day2)

print(day1)

['3984', '9042', '4829', '2380', '4231', '5234', '1345', '2455']

### Exercise 62
The following tuple is given:

    techs = ('python', 'java', 'sql', 'aws')

Sort this tuple from a to z and print it to the console.

Tip: Tuples are immutable. You have to create a new one.

Expected result:

    ('aws', 'java', 'python', 'sql')

In [9]:
techs = ('python', 'java', 'sql', 'aws')

lis1 = list(techs)
print(tuple(sorted(lis1)))

('aws', 'java', 'python', 'sql')

### Exercise 63

The following list is given:

    hashtags = ['summer', 'time', 'vibes']

Using the appropriate method, combine the elements of the list with the '#' character. Also add this sign to the beginning of the text and print the result to the console as shown below.

Expected result:

    '#summer#time#vibes'

In [5]:
hashtags = ['summer', 'time', 'vibes']

str1 = "#"+"#".join(hashtags)
print(str1)

#summer#time#vibes