### Exercise 125

Implement a function called maximum() that returns the maximum of two numbers. Use conditional statement.
Example:

    [IN]: maximum(4, 2)
    [OUT]: 4
    [IN]: maximum(-4, 2)
    [OUT]: 2

In [1]:
def maximum(x,y):
    if x>=y:
        return x
    else:
        return y

### Exercise 126

Implement a function called maximum() that returns the maximum of three numbers. Use conditional statement.

Example:

    [IN]: maximum(4, 2, 1)
    [OUT]: 4
    [IN]: maximum(-3, 2, 5)
    [OUT]: 5

In [2]:
def maximum(x,y,z):
    if x >=y:
        if x>=z:
            return x
        else:
            return z
    else:
        if y>=z:
            return y
        else:
            return z

In [3]:
maximum(-3, 2, 5)

5

### Exercise 127

Implement a function called multi(), which accepts an iterable object (list, tuple) as an argument and returns the product of all elements of this iterable object.

Example:

    [IN]: multi((-4, 6, 2))
    [OUT]: -48
    [IN]: multi([4, 2, -5])
    [OUT]: -40

In [9]:
def multi(lis1):
    import functools
    return functools.reduce(lambda x,y:x*y,lis1)

### Exercise 128

Implement a function map_longest() that accepts the list of words and return the length of the longest word in this list.

Example:

    [IN]: map_longest(['python', 'sql'])
    [OUT]: 6
    [IN]: map_longest(['java', 'sql', 'r'])
    [OUT]: 4

In [13]:
def map_longest(lis1):
    l = []
    for elem in lis1:
        l.append(len(elem))
    return max(l)

In [12]:
map_longest(['java', 'sql', 'r'])

4

### Exercise 129

Implement a function called filter_ge_6() that takes a list of words and returns list of words with the length greater than or equal to 6 characters.

Example:

    [IN]: filter_ge_6(['programming', 'python', 'java', 'sql'])
    [OUT]: ['programming', 'python']
    
    [IN]: filter_ge_6(['java', 'sql'])
    [OUT]: []

In [14]:
def filter_ge_6(lis1):
    return [elem for elem in lis1 if len(elem) >=6]

In [18]:
print(filter_ge_6(['java', 'sql']))
print(filter_ge_6(['programming', 'python', 'java', 'sql']))

[]
['programming', 'python']

### Exercise 130

Implement a function called factorial() that calculates the factorial for a given number.

Example:

    [IN]: factorial(6)
    [OUT]: 720
    [IN]: factorial(10)
    [OUT]: 3628800

In [19]:
def factorial(n):
    if n ==0:
        return 1
    return n * factorial(n-1)

In [20]:
factorial(10)

3628800

### Exercise 131

Implement a function count_str(), which returns the number of str objects in an iterable object (list, tuple, set).

Example:

    [IN]: count_str(['p', 2, 4.3, None])
    [OUT]: 1
    [IN]: count_str({'p', 2, 4.3, True, 'True', None})
    [OUT]: 2

In [21]:
def count_str(lis1):
    return len([elem for elem in lis1 if isinstance(elem,str)])

### Exercise 132

Implement a function count_str(), which returns the number of str objects with a length more than 2 characters from an iterable object (list, tuple, set).
Example:

    [IN]: count_str([1, '#hello', '', 'python', 'go'])
    [OUT]: 2
    [IN]: count_str([1, 2, 3, 'python'])
    [OUT]: 1

In [26]:
def count_str(lis1):
    return len([elem for elem in lis1 if isinstance(elem,str) and len(elem) >2])

In [28]:
count_str([1, 2, 3, 'python'])

1

### Exercise 133

Implement a function remove_duplicates() that removes duplicates from the list (the order of the items in the list does not have to be kept).

Example:

    [IN]: remove_duplicates([1, 5, 3, 2, 2, 4, 2, 4])
    [OUT]: [1, 2, 3, 4, 5]
    [IN]: remove_duplicates([1, 1, 1, 1])
    [OUT]: [1]

In [29]:
def remove_duplicates(lis1):
    return list(set(lis1))

### Exercise 134
Implement a function is_distinct() to check if the list contains unique values.

Example:

    [IN]: is_distinct([1, 2, 3])
    [OUT]: True
    [IN]: is_distinct([1, 2, 3, 3])
    [OUT]: False

In [30]:
def is_distinct(lis1):
    return len(lis1) == len(list(set(lis1)))

### Exercise 135

In [31]:
def function(idx, l=[]):
    for i in range(idx):
        l.append(i ** 3)
    print(l)

function(3)
function(5, ['a', 'b', 'c'])
function(6)

[0, 1, 8]
['a', 'b', 'c', 0, 1, 8, 27, 64]
[0, 1, 8, 0, 1, 8, 27, 64, 125]

### Exercise 136

In [32]:
def function(*args, **kwargs):
    print(args, kwargs)

function(3, 4)
function(x=3, y=4)
function(1, 2, x=3, y=4)

(3, 4) {}
() {'x': 3, 'y': 4}
(1, 2) {'x': 3, 'y': 4}

In [33]:
## Blank kwargs return dictionary and args return tuple

### Exercise 137

Implement the function is_palindrome(), which takes as an argument str object and checks if this object is a palindrome (expression that sounds the same from left to right and from right to left).

If so, the function should return True, on the contrary False.

Example:

    [IN]: is_palindrome('level')
    [OUT]: True
    [IN]: is_palindrome('python')
    [OUT]: False

In [35]:
def is_palindrome(str1):
    return str1 == str1[::-1]

In [36]:
is_palindrome('level')

True