PySpark provides map(), mapPartitions() to loop/iterate through rows in RDD/DataFrame to perform the complex transformations, and these two returns the same number of records as in the original DataFrame but the number of columns could be different (after add/update).

PySpark also provides foreach() & foreachPartitions() actions to loop/iterate through each Row in a DataFrame but these two returns nothing, In this article, I will explain how to use these methods to get DataFrame column values and process.

In [14]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [('James','Smith','M',30,True),('Anna','Rose','F',41,True),
  ('Robert','Williams','M',62,True), 
]
columns = ["firstname","lastname","gender","salary","flag"]
df = spark.createDataFrame(data=data, schema = columns)
df.show()

+---------+--------+------+------+----+
|firstname|lastname|gender|salary|flag|
+---------+--------+------+------+----+
|    James|   Smith|     M|    30|true|
|     Anna|    Rose|     F|    41|true|
|   Robert|Williams|     M|    62|true|
+---------+--------+------+------+----+

In [38]:
from pyspark.sql.functions import concat_ws
#col_list = df.columns
df_concat = df.withColumn("concatenated_cols",concat_ws(",",*df.columns)).select("concatenated_cols")

df_header = spark.sql("SELECT 'Employee_Data' as header")

header_string = ",".join(df.columns)
df_columns = spark.sql(f"select '{header_string}'")

df_trailer = spark.sql("SELECT 'Employee_Data_Trailer' as trailer")

df_final = df_header.union(df_columns).union(df_concat).union(df_trailer)

#df_final.show(df_final.count(),False)

+-------------------------------------+
|header                               |
+-------------------------------------+
|Employee_Data                        |
|firstname,lastname,gender,salary,flag|
|James,Smith,M,30,true                |
|Anna,Rose,F,41,true                  |
|Robert,Williams,M,62,true            |
|Employee_Data_Trailer                |
+-------------------------------------+

AttributeError: 'DataFrame' object has no attribute 'option'

In [43]:
df_final.repartition(1).write.mode("overwrite").csv(".\path2")

In [35]:
from pyspark.sql.types import StringType
header_string = ",".join(df.columns)
df_columns = spark.sql(f"select '{header_string}'")
df_columns.show()
header_string

+-------------------------------------+
|firstname,lastname,gender,salary,flag|
+-------------------------------------+
|                 firstname,lastnam...|
+-------------------------------------+

'firstname,lastname,gender,salary,flag'

In [ ]:
spark.sql("select '")

In [2]:
#Mostly for simple computations, instead of iterating through using map() and foreach(), 
# you should use either DataFrame select() or DataFrame withColumn() in conjunction with PySpark SQL functions.

from pyspark.sql.functions import concat_ws,col,lit
df.select(concat_ws(",",df.firstname,df.lastname).alias("name"), \
          df.gender,lit(df.salary*2).alias("new_salary")).show()

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

# Using map() to Loop Through Rows in DataFrame

PySpark map() Transformation is used to loop/iterate through the PySpark DataFrame/RDD by applying the transformation function (lambda) on every element (Rows and Columns) of RDD/DataFrame. PySpark doesn’t have a map() in DataFrame instead it’s in RDD hence we need to convert DataFrame to RDD first and then use the map(). It returns an RDD and you should Convert RDD to PySpark DataFrame if needed.

If you have a heavy initialization use PySpark mapPartitions() transformation instead of map(), as with mapPartitions() heavy initialization executes only once for each partition instead of every record.

In [4]:
df2 =df.rdd.map(lambda x: (x[0]+","+x[1],x[2],x[3]*2)).toDF(["name","gender","new_salary"])

df2.show()

+---------------+------+----------+
|           name|gender|new_salary|
+---------------+------+----------+
|    James,Smith|     M|        60|
|      Anna,Rose|     F|        82|
|Robert,Williams|     M|       124|
+---------------+------+----------+

In [5]:
rdd2=df.rdd.map(lambda x: 
    (x["firstname"]+","+x["lastname"],x["gender"],x["salary"]*2)
    ) 

rdd2.collect()

[('James,Smith', 'M', 60),
 ('Anna,Rose', 'F', 82),
 ('Robert,Williams', 'M', 124)]

In [6]:
# Referring Column Names
rdd2=df.rdd.map(lambda x: 
    (x.firstname+","+x.lastname,x.gender,x.salary*2)
    )

In [10]:
# By Calling function
def func1(x):
    # firstName=x.firstname
    # lastname=x.lastName
    name=x.firstname+","+x.lastname
    gender=x.gender.lower()
    salary=x.salary*2
    return (name,gender,salary)

rdd2=df.rdd.map(lambda x: func1(x))
rdd2.collect()

[('James,Smith', 'm', 60),
 ('Anna,Rose', 'f', 82),
 ('Robert,Williams', 'm', 124)]

In [17]:
rdd2.first()

('James,Smith', 'm', 60)

## Using foreach() to Loop Through Rows in DataFrame

Similar to map(), foreach() also applied to every row of DataFrame, the difference being foreach() is an action and it returns nothing. Below are some examples to iterate through DataFrame using for each.

In [18]:
# Foreach example
def f(x): print(x)
df.foreach(f)

In [12]:
# Another example
df.foreach(lambda x: 
    print("Data ==>"+x["firstname"]+","+x["lastname"]+","+x["gender"]+","+str(x["salary"]*2))
    )

In [14]:
# Collect the data to Python List
dataCollect = df.collect()
for row in dataCollect:
    print(row['firstname'] + "," +row['lastname'])

#Using toLocalIterator()
dataCollect=df.rdd.toLocalIterator()
for row in dataCollect:
    print(row['firstname'] + "," +row['lastname'])

James,Smith
Anna,Rose
Robert,Williams
James,Smith
Anna,Rose
Robert,Williams